
body {background-color: #2a939c;}
.navbar {
    background-color: #82afa6; 
    border: 2px solid #56002d;
    border-radius: 8px;
    color: #56002d;
    padding: 15px 32px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }

button {
  color: #56002d;
  background-color: #d1d8da;
  padding: 5px 15px;
  margin: 4px 4px;
  }

  input[type=text] {
    color: #56002d;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #d1d8da;
  }


  .description {
    color: #56002d;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #d1d8da;
  }

  input[type=number] {
    color: #56002d;
    padding: 12px 20px;
    margin: 8px 4px;
    box-sizing: border-box;
    background-color: #d1d8da;
  }